#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 15rem;
  }

  button {
    margin-top: 100px;
    width: 10%;
    border: none;
    border-radius: 5px;
    background: #de4c4c;

    &:hover {
      cursor: pointer;
      background: #a41623;
    }
  }
  p {
    width: 50%;
  }
}
