:root {
  --main-text-clr: #230903;
  --main-bg-clr: #9ebc9f;
  --main-bg-clr-hover: #44633f;
  --main-body-clr: #f4f2f3;
}

:root[data-theme="santa"] {
  --main-text-clr: #da2c38;
  --main-bg-clr: #87c38f;
  --main-bg-clr-hover: #226f54;
  --main-body-clr: #43291f;
}
